
@{
    ViewBag.Title = "ViewResult";
}

<h2>ViewResult</h2>
<div> dsfdsg </div>
<div>
    <hr />
    <h2>
        @ ViewBag.currentUserSurname
    </h2>
    
    <hr />
    @ ViewBag.currentUserFirstname
    <div>
        <hr />
        @ ViewBag.currentTest
    </div>
 
</div>

