body {
    padding-top: 50px;
    text-align: center;
    font-size:15px;
}

header {
    height: 70px;
    padding-top: 10px;
}

.error {
    color: red;
}

#butt{
    color:black;
    background-color:lightgray;
    border-color:black;
    width:110px;
    height:35px;
}

input {
    width: 35%;
    height:35px;
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

.table-bordered {
    padding-top:10px;
    margin: auto;
    width: 55%;
    border-color:black;
}
