body {
    padding: 80px;
    text-align: center;
}

table {
    padding: 50px;
    border-collapse: separate;
    border-bottom: black;
    padding: 10px;
}

th {
    text-align: center;
    padding: 10px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
}

.graficlogo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

nav {
    margin: auto;
    width: 800px;
    height: 50px;
}

.topnav {
    background-color: #FFF;
    font-size: 14px;
    margin-top: 40px;
}

    .topnav a {
        color: #000;
        text-align: center;
        padding: 14px 16px;
        font-size: 15px;
    }

        .topnav a:hover {
            border-bottom: 2px solid #000;
        }


.image {
    max-width: 79%;
    position: relative;
    width: 750px;
    margin-left: 21%;
}

.content_container {
    display: flex;
    justify-content: center;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.content_item {
    width: 30%;
}

footer {
    width: 100%;
    height: auto;
    background: #000;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

    footer a {
        color: white;
        font-size: 14px;
        margin-left: 10px;
    }

    footer p {
        color: white;
    }

    footer nav a:hover {
        border-bottom: 1px solid white;
    }

.social img {
    margin-left: 10px;
    margin-bottom: 10px;
}


    .social img:hover {
        background: #494949;
        border-radius: 50%;
    }

.gallery_container {
    display: flex;
    justify-content: center;
}

.gallery {
    padding: 2px 2px 2px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery_item {
    width: 25%;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

    .container * {
        box-sizing: border-box;
    }

.formlist {
    list-style-type: none;
    padding: 0;
}

.formlist {
    max-width: 800px;
    margin: 0 auto;
}

    .formlist li {
        margin-top: display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .formlist li {
        margin-bottom: 20px;
    }

        .formlist li label,
        .formlist li p {
            padding: 8px;
            font-weight: 300;
            letter-spacing: .09em;
            text-transform: uppercase;
        }

        .formlist li input:not([type='checkbox']),
        .formlist li textarea {
            padding: 15px;
            border: none;
        }

        .formlist li button {
            margin-left: auto;
            padding: 8px 16px;
            border: none;
            background: #333;
            color: #f2f2f2;
            text-transform: uppercase;
            letter-spacing: .09em;
            border-radius: 2px;
        }





@media screen and (max-width: 1200px) {

    .gallery_item {
        width: 30%
    }
}

@media screen and (max-width: 960px) {
    .content_item {
        width: 45%;
    }
}

@media screen and (max-width: 812px) {
    .gallery_item {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }

    nav {
        width: 100%;
        height: 100%;
    }

    .image {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .content {
        flex-direction: column;
    }

    .content_item {
        width: 100%;
    }

    .gallery {
        flex-direction: column;
    }

    .gallery_item {
        width: 100%;
    }
}




@media screen and (max-width: 600px) {
    table td, th:before {
        /*float: left;*/
        /*text-transform: uppercase;
        font-weight: bold;
        display: block;
        top: 6px;
        left: 6px;
        white-space: nowrap;*/
        overflow-x: auto;
        display: block;
    }
    .roundedButton {
        font-family: Verdana, Helvetica, Arial, sans-serif;
        font-size: 12px;
        color: #181818;
        color: rgb(255, 216, 0);
        width: 65px;
        padding: 8px 12px;
        border: none;
        outline: none;
        outline: 0;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.8);
    }
}
