
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Test Menu";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/AdminPanelStyle.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="form-group">
        <div class="text-danger">
            <h4>Даний тест вже існує в системі. Введіть іншу назву тесту!</h4>
        </div>
    </div>
    <div class="form-group">
        @Html.ActionLink("Повернутися на попередню сторінку", "TesterAdmin")
    </div>

</body>
</html>