@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Test Menu";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Styles.Render("~/Content/AdminPanelStyle.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

        @using (Html.BeginForm())
        {
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <input type="submit" name="action" value="Створити тест" class="btn btn-default" />
            </div>
            <div class="col-xs-6 col-md-6">
                <input type="submit" name="action" value="Видалити тест" class="btn btn-default" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <input type="submit" name="action" value="Переглянути список всіх тестів" class="btn btn-default" />
            </div>
            <div class="col-xs-6 col-md-6">
                Редагувати тести
            </div>
        </div>
    </div>
        }
    

</body>
</html>

